*.iml
.idea/
.kotlin/
.gradle/
**/build/
!src/**/build/
local.properties
.env
.env.*
*.jks
*.keystore
credentials/
credentials.*
.translation-draft-cache.json
.DS_Store
captures/
.externalNativeBuild/
.cxx/
/release/
/composeApp/src/commonMain/composeResources/files/acknowledgements.json
